@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #374253;
    display: inline-flex;
}

.main_block{
    background-color: #374253;
    width: 80.45vw;
    height: 98.2vh;
    float:right;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #333E4F;
    width: 19.54vw;
    height: 98.2vh;
     
}

.bistro_text {
    margin-top: 2.06vh;
    font-weight: bolder;
    font-size: 2.42vw;
    justify-content: center;
}

.menu_text{
    width: 100%;
    height: 4.04vh;
    font-family: 'Montserrat','Arial';
    line-height: 2.78vh;
    display: flex;
    align-items: center;
    color: #E8E8E8;

    text-shadow: 0px 4px 4px rgba(204, 204, 204, 0.25);
}

.role_block{
    margin-top: 5vh;
}

.role_text{
    font-size: 1.5vw;
    width: 99%;
    font-weight: 700;
    margin-left: 0.5vw;
}

.item_text{
    transition: 0.5s;
    font-weight: 500;
    font-size: 1vw;
    width: 99%;
    margin-left: 1vw;
}

.item_text:hover{
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.1vw;
    width: 99%;
    margin-left: 1vw;
}

.item_text img{
    width: 1.5vw;
    margin-right: 0.5vw;
}

.item_text a{
    color:#E8E8E8;
    text-decoration: none;
}

.main_block hr{
    background-color: #243143;
    
    width: 95%;
    height: 0.2vh;
    border: none;

}

.header{
    display: flex;
    justify-content: right;
    list-style: none;
}

.header div{
    color:#E8E8E8;

    font-family: 'Montserrat', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;
    margin: 2.37vh 4.06vw;
}

.header div:hover{
    color:#E8E8E8;
    transition: 0.5s;
    font-family: 'Montserrat', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;
    margin: 2.37vh 3.91vw;
}

.welcome{
    font-family: 'Montserrat', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 3.23vw;
    line-height: 74px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 29vh 0%;
    color: #E8E8E8;
}

.interact_block{
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    width: 94%;
}

.description{
    font-family: 'Montserrat', 'Arial';
    font-size: 28px;
    font-weight: bold;
    width:100%;
    color: #E8E8E8;
}

.add_field{
    margin-top: 8vh;
    width: 97.5%;
    padding-right:20px;
}

.add_field .input_image{
    display: none;
}

.input_field-img-icon{
    transition: 0.2s;
    opacity: 0.25;
    width: 2000px;
    height: 2000px;
}

.table_img{
    width: 150px;
    height: 150px;
}

.input_field-img-icon:hover{
    transition: 0.2s;
    opacity: 0.5;
    width: 200px;
    height: 200px;
}

.loaded_img{
    opacity: 1;
    width: 200px;
    height: 200px;
}

.add_field .input_field_area{
    min-width: 100%;
    background-color: #4C5767;
    color: #E8E8E8;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    max-height: 150px;
    resize: none;
}

.add_field .input_field_area::placeholder{
    min-width: 100%;
    background-color: #4C5767;
    color: #8691A1;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    max-height: 150px;
    resize: none;
}


.add_field .input_field::placeholder{
    width: 100%;
    background-color: #4C5767;
    color: #8691A1;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
}
.add_field .input_field{
    width: 100%;
    background-color: #4C5767;
    color: #E8E8E8;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
}

.add_field .readonly_field{
    width: 100%;
    opacity: 0.5;
    background-color: #3e4755;
    color: #E8E8E8;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
}


.records{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    max-height: 80vh;
    padding-left: 10px;
    border: 2px solid #243143;
    overflow: scroll;
    width:75vw;
}

.table_block{
    max-height: 600px;
    overflow: scroll;
}

table{
    margin-top: 20px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-color: #243143;
    border-width: medium;
    text-align: center;
    color: #E8E8E8;
    font-family: 'Montserrat', 'Arial';
    overflow: scroll;
}

tr:nth-child(even) {
    background-color: #343F4F
}

tr:nth-child(even):hover {
    background-color: #323D4D
}

tr:nth-child(2n+1){
    background-color: #3B4759;
}

tr:nth-child(2n+1):hover{
    background-color: #394557;
}

.last_td{
    width: 20%;
}

td{
    height: 50px;
}

.td_result{
    font-size: 1.3em;
    font-family: 'Montserrat', 'Arial';
    font-weight: bolder;
}

.td_area{
    display: flex;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main_td_area{
    width: 40%;
}

table .save{
    transition: 0.5s;
    color: #E8E8E8;
    background-color: #155CC6;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

table .save:hover{
    transition: 0.5s;
    color: #155CC6;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

table .save:active{
    color: #155CC6;
    background-color: grey;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

table .reset{
    transition: 0.5s;
    color: #E8E8E8;
    background-color: #C61515;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

table .reset:hover{
    transition: 0.5s;
    color: #C61515;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

table .reset:active{
    color: #C61515;
    background-color: grey;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 85%;
    height: 70%;
    padding: 10px;
    line-height: 0em;
}

.records hr{
    width: 100%
}

.record{
    display: flex;
    flex-direction: column;
    color: #E8E8E8;
    font-family: 'Montserrat', 'Arial';
}

.record_item{
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 8vh;
    width: 99%;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 8vh;
    width: 100%;
}

.reset{
    transition: 0.5s;
    color: #E8E8E8;
    background-color: #C61515;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

.reset:hover{
    transition: 0.5s;
    color: #C61515;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

.reset:active{
    color: #C61515;
    background-color: grey;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

.save{
    transition: 0.5s;
    color: #E8E8E8;
    background-color: #155CC6;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

.save:hover{
    transition: 0.5s;
    color: #155CC6;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px;
}

.save:active{
    color: #155CC6;
    background-color: grey;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat', 'Arial';
    font-size: 18px;
    width: 33.33%;
    height: 100%;
    padding: 10px; 
}

.hidden{
    display:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
