{%load static%} 
<!DOCTYPE html>
<html>
    <head>      
            <link rel="stylesheet" type="text/css" href="{%static 'css/main_page_style.css'%}">
    </head>
                
    <body>
        <div class="menu">
                
            <div class="menu_text bistro_text">Бистро</div>
            {%if request.user.position == "Шеф-повар"%}
                {%include "main_app/shef.html"%}
            {%elif request.user.position == "Кассир"%}
                {%include "main_app/seller.html"%}
            {%elif request.user.position == "Руководитель склада"%}
                {%include "main_app/stock_manager.html"%}
            {%elif request.user.position == "Бухгалтер"%}
                {%include "main_app/accountant.html"%}
            {%endif%}
        </div>
                
      <div class="main_block">
            <div class="header">
                <div><a href="http://146.185.240.26/hub/logout">Выход</a></div>
            </div>
            <hr>
                
            {% if request.user.position != "Бухгалтер" %}
            <div class="welcome">Доступ запрещен!</div>
                
            {%else%}
            <div class="interact_block">
                <div class="description">
			Составление отчета {{cur_year}} год
                </div>
		
		<form>
                    <table>
                        <tr>
                            <td>Название блюда</td>
			    <td>Количество порций</td>
			    <td>Стоимость одного блюда, руб.</td>
			    <td>Стоимость проданных блюд, руб.</td>
                        </tr>
                    </table>
                    <div class="table_block">
                        <table>
                        {%for i in actually_daily_reports_results%}
			<tr>
			    <td class="td_result">Дата {{i.date}}</td>
			    <td></td>
			    <td></td>
			    <td></td>
			</tr>
			    {%for j in daily_reports_with_dishprices%}
			        {%if i.date == j.record.date%}
                         	    <tr>
                            	    <td>{{j.record.name}}</td>
				    <td>{{j.record.count}}</td>
				    <td>{{j.dish_price}}</td>
				    <td>{{j.record.price}}</td>
                        	    </tr>
				{%endif%}
			    {%endfor%}
			    <tr>
				<td class="td_result">Итого на дату:</td>
				<td></td>
				<td></td>
				<td class="td_result">{{i.price}}</td>
			    </tr>
		    	    <tr><td colspan="4"></td></tr>
                        {%endfor%}
			<tr>
				<td colspan="4"><span class="td_result">Итого по предприятию: {{cur_year_results.price}}</span></td>
			</tr>
                        </table>
                    </div>
                </form>
                </div>
            </div>
            {%endif%}
        </div>
    </body>

    <footer>
    </footer>
</html>

