<div class="role_block">
    <div class="menu_text role_text">
        Работа с продажами 
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png">
	<a href="http://146.185.240.26/hub/look/globaldailyreport">Просмотр продаж за дату</a>
    </div>
</div>

<div class="role_block">
    <div class="menu_text role_text">
        Работа с отчетностьб
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/128/2235/2235919.png">
        <a href="http://146.185.240.26/hub/look/finallyreport/years">Составить отчет за год</a>
    </div>
</div>
