{%load static%}
<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{%static 'css/main_page_style.css'%}">
    </head>

    <body>
        <div class="menu">

            <div class="menu_text bistro_text">Бистро</div>
            {%if request.user.position == "Шеф-повар"%}
                {%include "main_app/shef.html"%}
            {%elif request.user.position == "Кассир"%}
                {%include "main_app/seller.html"%}
            {%elif request.user.position == "Руководитель склада"%}
                {%include "main_app/stock_manager.html"%}
            {%elif request.user.position == "Бухгалтер"%}
                {%include "main_app/accountant.html"%}
            {%endif%}
        </div>
        

        <div class="main_block">
            <div class="header">
                <div>Контакты</div>
                <div>О нас</div>
                <div>Выход</div>
            </div>
            <hr>

            <div class="interact_block">
                <div class="description">
                    Добавление продукта питания
                </div>

                <form method="post">
		    {% csrf_token %}
                    <div class="add_field">
			{{form.name}}
                    </div>
                    <div class="add_field">
			{{form.weight}}
                    </div>
                    <div class="add_field">
			{{form.calories}}
                    </div>
                    <div class="add_field">
			{{form.price}}
                    </div>
		    <span>{{ error }}</span>
                    <div class="buttons">
                        <input type="submit" value="Сохранить" class="save">
                    </div>
                </form>
            </div>
        </div>
    </body>

    <footer>
    </footer>
</html>

