<div class="role_block">
    <div class="menu_text role_text">
        Работа с блюдами
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png">
        <a href="http://146.185.240.26/hub/look/dish">Просмотр блюд</a>
    </div>
</div>


<div class="role_block">
    <div class="menu_text role_text">
        Работа с продажами
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/3161/3161837.png">
	<a href="http://146.185.240.26/hub/add/dailyreport">Добавление продаж</a>
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/1086/1086581.png">
	<a href="http://146.185.240.26/hub/look/globaldailyreport">Редактор продаж</a>
    </div>
</div>

