<div class="role_block">
    <div class="menu_text role_text">
        Работа с продажами
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/3161/3161837.png">
        Добавить информацию о продаже
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png">
        Просмотр продаж за дату
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/1086/1086581.png">
        Редактор продаж
    </div>
</div>

