<div class="role_block">
    <div class="menu_text role_text">
        Работа со складом 
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/3161/3161837.png">
	<a href="http://146.185.240.26/hub/add/product">Добавить продукт</a>
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709612.png">
	<a href="http://146.185.240.26/hub/look/product">Просмотр продуктов</a>
    </div>

    <div class="menu_text item_text">
        <img src="https://cdn-icons-png.flaticon.com/512/1086/1086581.png">
        Редактор продуктов
    </div>
</div>

