{%load static%}
<!DOCTYPE html>
<html>      
    <head>
            <link rel="stylesheet" type="text/css" href="{%static 'css/main_page_style.css'%}">
    </head>

    <body>
        <div class="menu">

            <div class="menu_text bistro_text">Бистро</div>
            {%if request.user.position == "Шеф-повар"%}
                {%include "main_app/shef.html"%}
            {%elif request.user.position == "Кассир"%}
                {%include "main_app/seller.html"%}
            {%elif request.user.position == "Руководитель склада"%}
                {%include "main_app/stock_manager.html"%}
            {%elif request.user.position == "Бухгалтер"%}
                {%include "main_app/accountant.html"%}
            {%endif%}
        </div>
        <div class="main_block">
            <div class="header">
                <div><a href="http://146.185.240.26/hub/logout">Выход</a></div>
            </div>
            <hr>
            {% if request.user.position != "Шеф-повар" and request.user.position != "Кассир" %}
            <div class="welcome">Доступ запрещен!</div>
            {%else%}
            <div class="interact_block">
                <div class="description">
                    Просмотр блюд
                </div>

                <form>
                    <table>
                        <tr>
                            <td>id</td>
                            <td>Название</td>
                            <td>Тип блюда</td>
			    <td>Вес</td>
			    <td>Калорийность</td>
                            <td>Состав</td>
                            <td>Картинка</td>
			    {%if request.user.position == "Шеф-повар"%}
                            <td class="last_td"></td>
			    {%endif%}
                        </tr>
                    </table>
                    <div class="table_block">
                        <table>
                        {%for i in dishes%}
                         <tr>
                            <td>{{i.id_id}}</td>
                            <td>{{i.id.name}}</td>
                            <td>{{i.type}}</td>
			    <td>{{i.weight}}г</td>
			    <td>{{i.calories}}Ккал</td>
                            <td>
                                {%for j in dish_composition%}
				    {%if j.dish_id == i.id_id%}
                                	{{j.product.name}}: {{j.product_count}}<br>
				    {%endif%}
                                {%endfor%}
                            </td>
			    <td><img class="table_img" src="/{{i.img}}"></td>
			    {%if request.user.position == "Шеф-повар"%}
                            <td class="last_td">
				<a href="http://146.185.240.26/hub/edit/dish?dishID={{i.id_id}}"><input type="button" class="save" value="редактировать"></a><br><br>
                                <a href="http://146.185.240.26/hub/look/dishcomposition?dishID={{i.id_id}}"><input type="button" class="save" value="изменить состав"></a>
                            </td>
			    {%endif%}
                        </tr>
                        {%endfor%}
                        </table>
                    </div>
                </form> 
                </div>  
            </div>  
            {%endif%}
        </div>  
            
            
    </body>
    <footer>
    </footer>
</html>

