{%load static%}
<!DOCTYPE html>
<html>      
    <head>  
            <link rel="stylesheet" type="text/css" href="{%static 'css/main_page_style.css'%}">
    </head>

    <body>
        <div class="menu">

            <div class="menu_text bistro_text">Бистро</div>
            {%if request.user.position == "Шеф-повар"%}
                {%include "main_app/shef.html"%}
            {%elif request.user.position == "Кассир"%}
                {%include "main_app/seller.html"%}
            {%elif request.user.position == "Руководитель склада"%}
                {%include "main_app/stock_manager.html"%}
            {%elif request.user.position == "Бухгалтер"%}
                {%include "main_app/accountant.html"%}
            {%endif%}
        </div>

      <div class="main_block">
            <div class="header">
                <div><a href="http://146.185.240.26/hub/logout">Выход</a></div>
            </div>
            <hr>
                
            {% if request.user.position != "Кассир" and request.user.position != "Бухгалтер" %}
            <div class="welcome">Доступ запрещен!</div>

            {%else%}
            <div class="interact_block">
                <div class="description">
		    Просмотр проданных блюд за {{cur_date}}
                </div>
                    <table>
                        <tr>
                            <td>Название блюда</td>
                            <td>Количество проданных блюд</td>
			    <td>Прибыль за проданные блюда</td>
			    {% if request.user.position == "Кассир" %}
                            <td class="last_td"></td>
			    {%endif%}
                        </tr>
                    </table>
                    <div class="table_block">
                        <table>
                        {%for i in local_reports%}
			{%if i.date == cur_date%}
                         <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.count}}</td>
			    <td>{{i.price}}</td>
			    {% if request.user.position == "Кассир" %}
			    <td class="last_td">
				<form method="post">
				    <input type="hidden" value={{i.id}} name="record_id">
				    <a href="http://146.185.240.26/hub/edit/dailyreport?reportID={{i.id}}&date={{cur_date}}&name={{i.name}}"><input type="button" class="save" value="редактировать"></a><br><br>
				    <input type="submit" class="reset" value="удалить" name="button_type">
			    	</form>	
			    </td>
			    {%endif%}
                        </tr>
			{%endif%}
                        {%endfor%}
                        </table>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </body>

    <footer>
    </footer>
</html>

